@import url('https://webfontworld.github.io/cookierun/CookieRun.css');

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: underline;
}
.item{
    width: 1024px; height: 900px;
    margin: auto;
    position: relative;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.3);
}
.item_leftbox{
    width: 50%; height: 100%;
    position: relative;
}
.item_img{
    width: 100%;
    margin: auto;
}
.item_img img{
    width: 95%;
    position: absolute; top: 15px; left:50%; transform: translateX(-50%);
}
.item_imgBtn{
    width: 510px; height:70px;
    display: flex; justify-content: center; align-items: center;
    position: absolute; top: 510px;
}
.item_imgBtn img{
    width: 40px; height: 40px;
    margin: 0px 5px;
}
/* ================================================== */
.item_rightbox{
    width: 50%; height: 100%; padding: 3%;
    position: absolute; right: 0;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,0.3);
}
/* -------------------------------------------------- */
.item_rightbox_info{
    width: 100%; min-height: 15%;   
    margin: auto;
    position: relative;
}
.item_rightbox_info>div:nth-of-type(1){
    font-size: 1.2rem;
    font-weight: bold;
}
.item_rightbox_info>div:nth-of-type(2){
    position: absolute; right: 5%; bottom: 15%;
    font-size: 1.4rem;
    color:#F79A49;
}
/* -------------------------------------------------- */
.item_rightbox_point{
    width: 100%; height: 30%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
}
.item_rightbox_point_title{
    width: 100%; height: 20%; padding: 3%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-weight: bold;  
}
.item_rightbox_point_max{
    margin: 5%;
    font-size: 0.8rem;
    /* font-weight: lighter; */
}
.item_rightbox_point_max>div:nth-of-type(1){
    display: flex; justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 3px;
}
.item_rightbox_point_max>div:nth-of-type(2){
    position:relative;
    display: flex;
    justify-content: space-between;
    color: gray;
}
.item_rightbox_point_price_tip{
    width: 90%; margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    font-size: 0.8rem;
    display: flex;
    padding : 3%
}
.item_rightbox_point_price_tip>div:first-of-type{
    width: 50%;
    height: 100%;
    text-align: left;
    display:grid;
    color: gray;
}
.item_rightbox_point_price_tip>div:first-of-type>div:first-of-type{
    opacity:1;
}
.item_rightbox_point_price_tip>div:nth-of-type(2){
    text-align: right;
    width: 50%;
    height: 100%;
    display: grid;
    color: gray;
}
/* ================================================== */
.item_rightbox_ads{
    width: 100%;
    height: 15%;
    margin-top: 40px;
    background-color: #192346;
    line-height: 42px;
    padding: 0px 16px;
    box-sizing: border-box;
    color: white;
    background: url(https://shop-phinf.pstatic.net/20231117_291/1700205634587ieS33_PNG/1100x12628pc29.png) no-repeat center/cover;
}
.item_rightbox_point_card{
    font-size: 0.9rem;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
#a{
    color:#F79A49;
}
#pointDetails{
    width: 330px; height: 918px;
    position: absolute;
    top: 0;
    background-color: white;
    display: none;
}
#cardDetails{
    width: 467px; height: 970px;
    display: none;
}
.item_rightbox_point_transit{
    font-size: 0.9rem;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.item_rightbox_point_transit>p:nth-of-type(1)>span, .item_rightbox_point_transit>p:nth-of-type(3) a{
    color:#F79A49;
}
.item_rightbox_point_transit>p:nth-of-type(2){
    opacity: 0.5;
}
.item_rightbox_point_quantity{
    text-align: center;
    display: flex;
    line-height: 34px;
    box-sizing: border-box;
    padding : 16px 0px;
}
.item_rightbox_point_quantity>div{
    /* border: 1px solid black; */
    height: 34px; width: 34px;
    background-color: lightgrey;
}
.item_rightbox_point_quantity>input{
    width: 46px;
    border: 1px solid black;
}
.item_rightbox_point_decision>div:nth-of-type(1){
    display: flex;
    position: relative;
    margin: 16px 0px;
    align-items: center;
}
.item_rightbox_point_decision>div:nth-of-type(1)>div:nth-of-type(1){
    text-align: left;
}
.item_rightbox_point_decision>div:nth-of-type(1)>div:nth-of-type(2){
    text-align: right;
    position: absolute;
    right: 0;
}
.item_rightbox_point_decision>div:nth-of-type(1)>div:nth-of-type(2)>span:nth-of-type(2){
    font-size: 1.4rem;
    color:#F79A49;
}
.item_rightbox_point_decision>div:nth-of-type(2){
display:grid;
    height: 104px; width: 100%;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    gap: 5px;
    text-align: center;
    margin: 16px 0px;
}
.item_rightbox_point_decision>div:nth-of-type(2)>div {
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-radius: 10px;
}
.btn_1{
    grid-column: 1 / -1 ;
    background-color: #00DE5A;
}

.btn_2, .btn_3, .btn_4 {
    border: 1px solid rgba(0,0,0,0.2);
}
/* ===================================================== */
.review{
    width: 1020px;
    height: 288px;
    margin: 16px auto;
}
.review_title{
    display: flex;
    position: relative;
    line-height: 52px;
}
.review_title_full{
    display: flex;
    position: absolute;
    right: 0;
}
.review_title_full>div{
    width: 19px; height: 19px;
    text-align: center;
    font-size: 0.8rem;
    text-wrap: nowrap;
}
.review_case{
    width: 100%; height:calc(118px*2);
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
}
.review_case>div{
    width: calc(100% - 20px); height: 118px;
    display: flex;
    position: relative;
    font-size: 0.9rem; padding-left: 20px;
}
#reviewImg{
    width: 80px; height: 80px;
    background: url(https://phinf.pstatic.net/checkout.phinf/20231117_270/1700195215914r4pE1_JPEG/20231117_132638.jpg?type=f300_300) no-repeat cover/center;
    position: absolute;
    right: 30px;
    border-radius: 10px;
}
.best{
    width: 1024px;
    height:293px;
    margin: auto;
}
.best>p{
    margin-bottom: 10px;
}
.best_items{
    width: 100%; height: 70px;
    display: flex;
    justify-content: space-between;
}
.best_items>div{
    width:188px; height: 300px;
    position: relative;
}
.best_items>div>img{
    width: 188px; height: 188px;
    border-radius: 10px 10px;
    margin-bottom: 5px;
}
.best_items>div>p:nth-of-type(1){
    font-size: 0.8rem;
}
.best_items>div>p:nth-of-type(2){
    margin-top: 5px;
    font-size: 0.8rem;
    position:absolute;
    left:0;
    color: red;
}
.review_case_stars>i{
    color:#ff0000;
}
main, .aside{
    width: 1024px; margin: 5% auto;
}
main>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
main>ul>li{
    width: 100%; height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: gray;
    border: 1px solid;
}
main p{
    margin: 10px 0px;
}
.warning{
    width: 80%; height:3%; padding: 5%;
    margin: 5% auto;
    line-height: 150%;
    background-color: lightgray;
}
.warning>ul>li{
    list-style: none;
    font-size: 0.8rem;
    text-indent: 30px;
}
main button{
    margin: 5px;
}
.itemGrid{
    width: 100%; height: 200px;
    display: grid;
    grid-template: repeat(5,1fr) / repeat(4,1fr);
}
.itemGrid>div{
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.itemGrid>div:nth-of-type(2n-1){
    background-color: gray;
}

#vip{
    width: calc(255px*4); height: 127px;
    display: flex; justify-content: space-between;
    align-items: center;
    background-color: pink;
}
#vip>div{
    width: 255px; height: 127px;
    text-align: center; text-wrap: nowrap;
    border: 1px solid black;
    position: relative;
    line-height: 127px;
}
#vip>div:first-child>span{
    position: absolute;
    top: calc((100%-127px)/2);
}